<!-- /snippets/tags-article.liquid -->
{% assign unique_tags = tags | uniq %}
{% if unique_tags.size > 0 %}
  <li>
    {% for tag in unique_tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="text-link">{{ tag }}</a>
    {% endfor %}
  </li>
{% endif %}
