<!-- /templates/page.liquid -->
<div class="grid sizing">
  <div class="grid__item large--one-full">
    <div class="rte">
      <p class="page__heading">{{ page.title }}</p>
      {{ page.content }}
    </div>

  </div>
</div>
