{% layout none %}
<!DOCTYPE html>
<html>

<head>
  
  <title>Raised by Wolves</title>
  
  <style type="text/css">
    
    body {
      margin: 0;
      background-color: #000;
      color: #fff;
      font-size: 10px;
      line-height: 20px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      letter-spacing: 0.25px;
    }
    
    #login {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      width: 650px;
    }

    #logo {
      width: 300px;
      height: 27px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
      background-image: url("https://cdn.shopify.com/s/files/1/0188/2850/files/rbw_identity_logotype.png?4937918261871167194");
    }

    form#login_form {
      padding-top: 200px;
    }
    
    #login_form #password {
      padding: 4px 6px;
      background: #1a1a1a;
      border: none;
      outline: none;
    }

    p {
      margin-bottom: 50px;
    }
    
  </style>
</head>
<body>

    <div id='login'>
      
        <div id="logo"></div>
      
      <p>OUR WEBSTORE IS UNDER CONSTRUCTION<br>WE WILL REOPEN SHORTLY WITH SPRING / SUMMER 2017 DELIVERY 1<br><br><br><br><br><a href="mailto:INFO@RAISEDBYWOLVES.CA">INFO@RAISEDBYWOLVES.CA</a></p>
      
            <!--<iframe width="60%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/208465666&amp;color=1a1a1a&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>-->
      
      {% form 'storefront_password' %}
            
        <input type='password' name='password' id='password' autofocus />
      
      {% endform %}
    </div>

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
