er{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Rugby Jersey</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
      <td align="CENTER">XXL</td>
    </tr>
    <tr>
      <td align="LEFT">Chest</td>
      <td align="CENTER">19.5"</td>
      <td align="CENTER">20.5"</td>
      <td align="CENTER">21.5"</td>
      <td align="CENTER">22.5"</td>
      <td align="CENTER">23.75"</td>
    </tr>
    <tr>
      <td align="LEFT">Length</td>
      <td align="CENTER">28"</td>
      <td align="CENTER">29"</td>
      <td align="CENTER">30"</td>
      <td align="CENTER">31.5"</td>
      <td align="CENTER">32.5"</td>
    </tr>
        <tr>
      <td align="LEFT">Sleeve Length</td>
      <td align="CENTER">32.75"</td>
      <td align="CENTER">33.5"</td>
      <td align="CENTER">34.25"</td>
      <td align="CENTER">35"</td>
      <td align="CENTER">36"</td>
    </tr>
  </tbody>
</table>
{% include "product-lower" %}