{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th colspan="6" align="LEFT"><b>LONG SLEEVE T-SHIRT</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
    </tr>
    <tr>
      <td align="LEFT">CHEST WIDTH</td>
      <td align="CENTER">20"</td>
      <td align="CENTER">21.5"</td>
      <td align="CENTER">23"</td>
      <td align="CENTER">24.5"</td>
    </tr>
    <tr>
      <td align="LEFT">BODY LENGTH</td>
      <td align="CENTER">28"</td>
      <td align="CENTER">29.25"</td>
      <td align="CENTER">30.5"</td>
      <td align="CENTER">31.75"</td>
    </tr>
    <tr>
      <td align="LEFT">SLEEVE LENGTH</td>
      <td align="CENTER">33"</td>
      <td align="CENTER">34.25"</td>
      <td align="CENTER">35.5"</td>
      <td align="CENTER">36.75"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}