{% include "product-upper" %}

<a target="_blank" href="https://www.canadapost.ca/assets/pdf/KB/holiday_mailing_dates_2017.pdf">*Click here for 2017 HOLIDAY SEASON SUGGESTED MAILING DATES</a>
<br>
<br>

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td align="LEFT"><b>Zip-Up Flannel</b></td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
      <td align="CENTER">XXL</td>
    </tr>
        <tr>
      <td align="LEFT">Collar</td>
      <td align="CENTER">15"</td>
      <td align="CENTER">16"</td>
      <td align="CENTER">17"</td>
      <td align="CENTER">18"</td>
      <td align="CENTER">19"</td>
    </tr>
    <tr>
      <td align="LEFT">Chest Width</td>
      <td align="CENTER">21"</td>
      <td align="CENTER">22"</td>
      <td align="CENTER">23"</td>
      <td align="CENTER">24"</td>
      <td align="CENTER">25"</td>
    </tr>
    <tr>
      <td align="LEFT">Body Length</td>
      <td align="CENTER">28"</td>
      <td align="CENTER">28.5"</td>
      <td align="CENTER">29"</td>
      <td align="CENTER">29.5"</td>
      <td align="CENTER">30"</td>
    </tr>
        <tr>
      <td align="LEFT">Sleeve Length</td>
      <td align="CENTER">33"</td>
      <td align="CENTER">34"</td>
      <td align="CENTER">35"</td>
      <td align="CENTER">36"</td>
      <td align="CENTER">37"</td>
    </tr>
  </tbody>
</table>


{% include "product-lower" %}