{% include "product-upper" %}

<a target="_blank" href="https://www.canadapost.ca/assets/pdf/KB/holiday_mailing_dates_2017.pdf">*Click here for 2017 HOLIDAY SEASON SUGGESTED MAILING DATES</a>

{% include "product-lower" %}