{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Button-Down Shirt</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
      <td align="CENTER">XXL</td>
    </tr>
    <tr>
      <td align="LEFT">Neck</td>
      <td align="CENTER">14.5"</td>
      <td align="CENTER">15.5"</td>
      <td align="CENTER">16.5"</td>
      <td align="CENTER">17.5"</td>
      <td align="CENTER">18.5"</td>
    </tr>
    <tr>
      <td align="LEFT">Chest</td>
      <td align="CENTER">20.5"</td>
      <td align="CENTER">22"</td>
      <td align="CENTER">23.5"</td>
      <td align="CENTER">25"</td>
      <td align="CENTER">26.5"</td>
    </tr>
    <tr>
      <td align="LEFT">Front Length</td>
      <td align="CENTER">29"</td>
      <td align="CENTER">29.5"</td>
      <td align="CENTER">30"</td>
      <td align="CENTER">30.5"</td>
      <td align="CENTER">31"</td>
    </tr>
    <tr>
      <td align="LEFT">Sleeve Length</td>
      <td align="CENTER">33.5"</td>
      <td align="CENTER">34.5"</td>
      <td align="CENTER">35"</td>
      <td align="CENTER">35"</td>
      <td align="CENTER">36"</td>
    </tr>
  </tbody>
</table>


{% include "product-lower" %}