{% include "product-upper" %}

<a target="_blank" href="https://www.canadapost.ca/assets/pdf/KB/holiday_mailing_dates_2017.pdf">*Click here for 2017 HOLIDAY SEASON SUGGESTED MAILING DATES</a>
<br>
<br>

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th colspan="6" align="LEFT"><b>Sweatpants</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">XS</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
    </tr>
        <tr>
      <td align="LEFT">Waist (Relaxed)</td>
      <td align="CENTER">13"</td>
      <td align="CENTER">14"</td>
      <td align="CENTER">15"</td>
      <td align="CENTER">16"</td>
      <td align="CENTER">17"</td>
    </tr>
    <tr>
      <td align="LEFT">Inseam</td>
      <td align="CENTER">29.5"</td>
      <td align="CENTER">30"</td>
      <td align="CENTER">30.5"</td>
      <td align="CENTER">31"</td>
      <td align="CENTER">31.5"</td>
    </tr>
        <tr>
      <td align="LEFT">Thigh</td>
      <td align="CENTER">12"</td>
      <td align="CENTER">12.5"</td>
      <td align="CENTER">13"</td>
      <td align="CENTER">13.5"</td>
      <td align="CENTER">14"</td>
    </tr>
            <tr>
      <td align="LEFT">Opening</td>
      <td align="CENTER">4"</td>
      <td align="CENTER">4.25"</td>
      <td align="CENTER">4.5"</td>
      <td align="CENTER">4.75"</td>
      <td align="CENTER">5"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}