{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Sizing Chart</b></th>
    </tr>
    <tr>
      <td align="LEFT">FP Size</td>
      <td align="CENTER">40</td>
      <td align="CENTER">41</td>
      <td align="CENTER">42</td>
      <td align="CENTER">43</td>
      <td align="CENTER">44</td>
      <td align="CENTER">45</td>
       <td align="CENTER">46</td>
    </tr>
    <tr>
      <td align="LEFT">EU Size</td>
      <td align="CENTER">41</td>
      <td align="CENTER">42</td>
      <td align="CENTER">43</td>
      <td align="CENTER">44</td>
      <td align="CENTER">45</td>
      <td align="CENTER">46</td>
      <td align="CENTER">47</td>
    </tr>
    <tr>
      <td align="LEFT">US Men</td>
      <td align="CENTER">8</td>
      <td align="CENTER">8.5</td>
      <td align="CENTER">9.5</td>
      <td align="CENTER">10</td>
      <td align="CENTER">11</td>
      <td align="CENTER">12</td>
      <td align="CENTER">13</td>
    </tr>
     <tr>
      <td align="LEFT">US Women</td>
      <td align="CENTER">9.5</td>
      <td align="CENTER">10</td>
      <td align="CENTER">11</td>
      <td align="CENTER">11.5</td>
      <td align="CENTER">-</td>
      <td align="CENTER">-</td>
      <td align="CENTER">-</td>
    </tr>
    <tr>
      <td align="LEFT">UK Size</td>
      <td align="CENTER">7</td>
      <td align="CENTER">7.5</td>
      <td align="CENTER">8.5</td>
      <td align="CENTER">9</td>
      <td align="CENTER">10</td>
      <td align="CENTER">11</td>
      <td align="CENTER">12</td>
    </tr>
     <tr>
      <td align="LEFT">INCH</td>
      <td align="CENTER">10.6</td>
      <td align="CENTER">10.8</td>
      <td align="CENTER">11.1</td>
      <td align="CENTER">11.2</td>
      <td align="CENTER">11.5</td>
      <td align="CENTER">11.9</td>
      <td align="CENTER">12.1</td>
    </tr>
     <tr>
      <td align="LEFT">CM</td>
      <td align="CENTER">26.8</td>
      <td align="CENTER">27.4</td>
      <td align="CENTER">28.1</td>
      <td align="CENTER">28.4</td>
      <td align="CENTER">29.3</td>
      <td align="CENTER">30.3</td>
      <td align="CENTER">30.7</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}