{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Slim Fit Overalls</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">1</td>
      <td align="CENTER">2</td>
      <td align="CENTER">3</td>
      <td align="CENTER">4</td>
      <td align="CENTER">5</td>
    </tr>
    <tr>
      <td align="LEFT">Waist (Flat)</td>
      <td align="CENTER">16.5"</td>
      <td align="CENTER">17.5"</td>
      <td align="CENTER">18"</td>
      <td align="CENTER">19"</td>
      <td align="CENTER">20.5"</td>
    </tr>
        <tr>
      <td align="LEFT">Waist (Recommended Sizing)</td>
      <td align="CENTER">26-27""</td>
      <td align="CENTER">28-29"</td>
      <td align="CENTER">30-31"</td>
      <td align="CENTER">32-33"</td>
      <td align="CENTER">34-35"</td>
    </tr>
    <tr>
      <td align="LEFT">Inseam</td>
      <td align="CENTER">30"</td>
      <td align="CENTER">30.5"</td>
      <td align="CENTER">30.5"</td>
      <td align="CENTER">31"</td>
      <td align="CENTER">31"</td>
    </tr>
        <tr>
      <td align="LEFT">Thigh</td>
      <td align="CENTER">8.75"</td>
      <td align="CENTER">9.5"</td>
      <td align="CENTER">10"</td>
      <td align="CENTER">11"</td>
      <td align="CENTER">12.5"</td>
    </tr>
            <tr>
      <td align="LEFT">Opening</td>
      <td align="CENTER">5.5"</td>
      <td align="CENTER">6"</td>
      <td align="CENTER">6.5"</td>
      <td align="CENTER">7"</td>
      <td align="CENTER">7.5"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}
