{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th colspan="6" align="LEFT"><b>DIAMOND MESH SHORTS</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
    </tr>
    <tr>
      <td align="LEFT">WAIST (RELAXED)</td>
      <td align="CENTER">14"</td>
      <td align="CENTER">15"</td>
      <td align="CENTER">16"</td>
      <td align="CENTER">17"</td>
    </tr>
    <tr>
      <td align="LEFT">INSEAM</td>
      <td align="CENTER">9"</td>
      <td align="CENTER">9.5"</td>
      <td align="CENTER">10"</td>
      <td align="CENTER">10.5"</td>
    </tr>
    <tr>
      <td align="LEFT">OPENING (RELAXED)</td>
      <td align="CENTER">9.5"</td>
      <td align="CENTER">10"</td>
      <td align="CENTER">10.5"</td>
      <td align="CENTER">11"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}