{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="7" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="7"><b>Slides</b></th>
    </tr>
    <tr>
      <td align="LEFT">US Men's Size</td>
      <td align="CENTER">5</td>
      <td align="CENTER">6</td>
      <td align="CENTER">7</td>
      <td align="CENTER">8</td>
      <td align="CENTER">9</td>
      <td align="CENTER">10</td>
      <td align="CENTER">11</td>
      <td align="CENTER">12</td>
      <td align="CENTER">13</td>
    </tr>
        <tr>
      <td align="LEFT">Euro</td>
      <td align="CENTER">38</td>
      <td align="CENTER">39</td>
      <td align="CENTER">40</td>
      <td align="CENTER">41</td>
      <td align="CENTER">42</td>
      <td align="CENTER">43</td>
      <td align="CENTER">44</td>
      <td align="CENTER">45</td>
      <td align="CENTER">46</td>
    </tr>
        <tr>
      <td align="LEFT">Length (mm)</td>
      <td align="CENTER">253</td>
      <td align="CENTER">260</td>
      <td align="CENTER">267</td>
      <td align="CENTER">272</td>
      <td align="CENTER">280</td>
      <td align="CENTER">286</td>
      <td align="CENTER">293</td>
      <td align="CENTER">300</td>
      <td align="CENTER">307</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}