{% include "product-upper" %}

<a href="https://www.canadapost.ca/assets/pdf/KB/holiday_mailing_dates_2017.pdf">Click here for Holiday Season Shipping Dates</a>
<br>
<br>

<table frame="VOID" rules="NONE" cols="7" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="7"><b>Slides</b></th>
    </tr>
    <tr>
      <td align="LEFT">US Men's Size</td>
      <td align="CENTER">7</td>
      <td align="CENTER">8</td>
      <td align="CENTER">9</td>
      <td align="CENTER">10</td>
      <td align="CENTER">11</td>
      <td align="CENTER">12</td>
    </tr>
        <tr>
      <td align="LEFT">Length (mm)</td>
      <td align="CENTER">272</td>
      <td align="CENTER">280</td>
      <td align="CENTER">286</td>
      <td align="CENTER">293</td>
      <td align="CENTER">300</td>
      <td align="CENTER">307</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}