{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="6" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th colspan="6" align="LEFT"><b>Sweatpants</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">XS</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
    </tr>
        <tr>
      <td align="LEFT">Waist</td>
      <td align="CENTER">26"-28"</td>
      <td align="CENTER">28"-30"</td>
      <td align="CENTER">30"-32"</td>
      <td align="CENTER">32"-34"</td>
      <td align="CENTER">34"-36"</td>
    </tr>
    <tr>
      <td align="LEFT">Inseam</td>
      <td align="CENTER">31"</td>
      <td align="CENTER">32"</td>
      <td align="CENTER">33"</td>
      <td align="CENTER">34"</td>
      <td align="CENTER">35"</td>
    </tr>

    <tr>
      <td align="LEFT">Leg Opening</td>
      <td align="CENTER">4.25"</td>
      <td align="CENTER">4.5"</td>
      <td align="CENTER">4.75"</td>
      <td align="CENTER">5"</td>
      <td align="CENTER">5.25"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}
