{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="3" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Hockey Jersey</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
      <td align="CENTER">XXL</td>
    </tr>
        <tr>
      <td align="LEFT">Length</td>
      <td align="CENTER">32.5"</td>
      <td align="CENTER">32.75"</td>
      <td align="CENTER">33"</td>
      <td align="CENTER">33.25"</td>
      <td align="CENTER">33.5"</td>
    </tr>
    <tr>
      <td align="LEFT">Width</td>
      <td align="CENTER">23"</td>
      <td align="CENTER">24"</td>
      <td align="CENTER">25"</td>
      <td align="CENTER">26"</td>
      <td align="CENTER">27"</td>
    </tr>
    <tr>
      <td align="LEFT">Arm Opening</td>
      <td align="CENTER">11.5"</td>
      <td align="CENTER">11.75"</td>
      <td align="CENTER">12"</td>
      <td align="CENTER">12.25"</td>
      <td align="CENTER">12.5"</td>
    </tr>
        <tr>
      <td align="LEFT">Sleeve Length</td>
      <td align="CENTER">32"</td>
      <td align="CENTER">32.625"</td>
      <td align="CENTER">33.25"</td>
      <td align="CENTER">33.875"</td>
      <td align="CENTER">34.5"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}