{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="3" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Bell, Boonie and Bucket Hats</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S/M</td>
      <td align="CENTER">L/XL</td>
    </tr>
    <tr>
      <td align="LEFT">Circumference</td>
      <td align="CENTER">22.875"</td>
      <td align="CENTER">23.625"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}
