{% include "product-upper" %}

<table frame="VOID" rules="NONE" cols="3" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th align="LEFT" colspan="6"><b>Overshirt</b></th>
    </tr>
    <tr>
      <td align="LEFT">Size</td>
      <td align="CENTER">S</td>
      <td align="CENTER">M</td>
      <td align="CENTER">L</td>
      <td align="CENTER">XL</td>
      <td align="CENTER">XXL</td>
    </tr>
    <tr>
      <td align="LEFT">Chest</td>
      <td align="CENTER">22"</td>
      <td align="CENTER">23"</td>
      <td align="CENTER">24"</td>
      <td align="CENTER">25"</td>
      <td align="CENTER">26"</td>
    </tr>
    <tr>
      <td align="LEFT">Length</td>
      <td align="CENTER">29"</td>
      <td align="CENTER">30"</td>
      <td align="CENTER">31"</td>
      <td align="CENTER">32"</td>
      <td align="CENTER">33"</td>
    </tr>
        <tr>
      <td align="LEFT">Sleeve Length</td>
      <td align="CENTER">33.5"</td>
      <td align="CENTER">34.5"</td>
      <td align="CENTER">35.5"</td>
      <td align="CENTER">36.5"</td>
      <td align="CENTER">37.5"</td>
    </tr>
  </tbody>
</table>

{% include "product-lower" %}